body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Color */


  .fi-blue {
   color: #0d6efd;
  }
  .fi-indigo {
    color: #6610f2;
  }
  .fi-purple {
    color: #6f42c1;
  }
  .fi-pink { 
    color: #d63384;
  }
  .fi-red {
    color: #dc3545;
  }
  .fi-orange {
    color:#fd7e14;
  }
  .fi-yellow {
    color:#ffc107;
  }
  .fi-green {
    color:#198754;
  }
  .fi-teal {
    color: #20c997;
  }
  .fi-cyan {
    color: #0dcaf0;
  }
  .fi-white { 
    color: #fff;
  }
  .fi-gray {
    color: #6c757d
  }
  .fi-gray-dark { 
    color: #343a40;
  }
  .fi-primary { 
    color: #0d6efd;
  }
  .fi-secondary {
    color: #6c757d;
  }
  .fi-success {
    color: #198754;
  }
  .fi-info {
    color: #0dcaf0;
  }
  .fi-warning { 
    color: #ffc107;
  }
  .fi-danger { 
    color: #dc3545;
  }
  .fi-light {
    color: #f8f9fa;
  }
  .fi-dark {
    color: #212529;
  }
 
 /* background color */
 
  .fi-blue-bg {
  background-color: #0d6efd;
  }
  .fi-indigo-bg {
    background-color: #6610f2;
  }
  .fi-purple-bg {
    background-color: #6f42c1;
  }
  .fi-pink-bg { 
    background-color: #d63384;
  }
  .fi-red-bg {
    background-color: #dc3545;
  }
  .fi-orange-bg {
    background-color:#fd7e14;
  }
  .fi-yellow-bg {
    background-color:#ffc107;
  }
  .fi-green-bg {
    background-color:#198754;
  }
  .fi-teal-bg {
    background-color: #20c997;
  }
  .fi-cyan-bg {
    background-color: #0dcaf0;
  }
  .fi-white-bg { 
    background-color: #fff;
  }
  .fi-gray-bg {
    background-color: #6c757d
  }
  .fi-gray-dark-bg { 
    background-color: #343a40;
  }
  .fi-primary-bg { 
    background-color: #0d6efd;
  }
  .fi-secondary-bg {
    background-color: #6c757d;
  }
  .fi-success-bg {
    background-color: #198754;
  }
  .fi-info-bg {
    background-color: #0dcaf0;
  }
  .fi-warning-bg { 
    background-color: #ffc107;
  }
  .fi-danger-bg { 
    background-color: #dc3545;
  }
  .fi-light-bg {
    background-color: #f8f9fa;
  }
  .fi-dark-bg {
    background-color: #212529;
  }
 