body {
 
  background-color: #ff7c4d;

}
.nav {
  background-color:  #ff7c4d;
  
}
#content {
  background-color: #ff7c4d;
}
.logo {
  width: 50%;
  float: left;
  
}

 #body {
  
 }
 @media only screen and (max-width: 600px) {
   .logo {
     width: 50vh;
     float: none;
   }
   .hide {
     display: none;
   }
   .logo1 {
     top: 9px;
     position: relative;
   }
   #border{
     width: 80%;
     height: 60px;
     background-color: orangered;
     border-radius: 30px;
     color: white;
     padding: 20px;
   }
 }
 
 .fa-nav-link {
   text-decoration: none;
 }
 .logo1 {
   width: 8%;
   height: 8%;
   
 }
 .text {
   font-family:  'Brush Script MT', cursive;
 }
 .install {
   font-family: Arial, Helvetica, sans-serif;
 }
 #border {
   width: 50%;
   height: 60%;
   background-color: orangered;
   border-radius: 30px;
   color: white;
   padding: 20px;
  
 }
 #pills-profile {
   border-radius: 20px;
   padding: 20px;
 }
  @media only screen and (max-width: 600px) {
    #border {
      width: 90%;
      height: 80vh;
      background-color: orangered;
      border-radius: 30px;
      color: white;
      padding: 20px;
    }
  }
  code {
    font-family: monospace;
    color: orchid;
  }
  .tab-content {
    border-radius: 20px;
    color: black;
    padding: 20px;
    
  }
  #pills-tab {
    padding: 5px;
    border-radius: 10px;
    background-color: #ffb366;
  }
  